.home-banner {
    text-align: center;
    height: 80%;
}

.home-banner-image {
    width: 30rem;
    user-select: none;
}

.code-btn {
    display: block !important;
    margin: auto !important;
    border: 0 !important;
    background-color: var(--primary-color) !important;
    border-radius: 0 !important;
}

@media screen and (max-width: 900px) {
    .home-banner-image {
        width: 70% !important;
    }    
}

@media screen and (max-width: 600px) {
    .home-banner-image {
        width: 100% !important;
    }    
}