.cta-container {
    margin: 0 10% 5%;
    padding: var(--page-padding);
    background-color: var(--primary-color);
    text-align: center;
}

.cta-heading {
    font-weight: var(--heading-weight) !important;
    color: var(--white-color);
}

.cta-btn {
    border: 2px solid var(--white-color) !important;
    background-color: var(--white-color) !important;
    margin-top: 2rem !important;
    padding: 0.7rem 2rem !important;
    border-radius: 0 !important;
    font-size: 1.1rem !important;
}

.cta-btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color) !important;
}

@media screen and (max-width: 1280px) {
    .cta-container {
        margin: 5% !important;
    }

    .cta-heading {
        font-size: 3.5rem !important;
    }
}

@media screen and (max-width: 900px) {
    .cta-heading {
        font-size: 3rem !important;
    }
}

@media screen and (max-width: 600px) {
    .cta-heading {
        font-size: 2.5rem !important;
    }

    .cta-btn {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 450px) {
    .cta-heading {
        font-size: 1.8rem !important;
    }
}