.about-container {
    margin: 0;
    padding: var(--page-padding);
    padding-top: 5% !important;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.about-textBox, .about-imageBox {
    flex-basis: 48%;
    flex-grow: 0;
    flex-shrink: 0;
}

.about-imageBox {
    position: relative;
}

.about-textBox::before {
    content: '';
    position: absolute;
    left: 8%;
    transform: rotate(20deg);
    height: 3.7rem;
    width: 0.45rem;
    background-color: var(--primary-color);
}

.about-image {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-blue-heading {
    color: var(--primary-color);
}

.about-heading {
    font-weight: var(--heading-weight) !important;
    line-height: var(--heading-line-height);
}

.aboutBtn {
    border-radius: 0 !important;
    border: 2px solid !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    padding: 0.6rem 1rem !important;
}

.aboutBtn:hover {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

@media screen and (max-width: 1280px) {

    .about-textBox::before {
        left: 3%;
        height: 3rem;
        width: 0.4rem;
    }

    .about-container {
        padding: 5%;
    }
    
    .about-heading {
        font-size: 3rem !important;
    }
}

@media screen and (max-width: 900px) {

    .about-textBox::before {
        position: static;
        display: block;
        height: 3.2rem;
        margin-left: 0.6rem;
    }

    .about-container {
        padding: var(--page-padding);
        flex-direction: column;
    }
    
    .about-image {
        width: 100%;
        position: static;
        transform: none;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 450px) {

    .about-textBox::before {
        height: 2.5rem;
        width: 0.4rem;
    }

    .about-heading {
        font-size: 2.5rem !important;
    }

    .about-image {
        width: 100%;
    }

    .aboutBtn {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 300px) {

    .about-textBox::before {
        height: 1.5rem;
        width: 0.25rem;
        margin-left: 0.4rem;
    }

    .about-heading {
        font-size: 1.8rem !important;
    }
}