.userAppbar {
    height: 10% !important;
    display: flex !important;
    background-color: var(--white-color) !important;
    position: fixed;
    z-index: 5;
    right: 0;
}

.notification-popover {
    width: 500px !important;
}