.partners {
    height: 3.5rem;
}

.campost {
    height: 6.5rem;
}

.partnerStack {
    justify-content: space-between;
    align-items: center;
    padding-top: 6% !important;
    padding: var(--page-padding);
}

.partner-container  {
    margin: 0;
    padding: 0;
}