.partners {
    height: 3.5rem;
}

.campost {
    height: 6.5rem;
}

.partnerStack {
    justify-content: center;
    align-items: center;
    padding: 4% 4% 0!important;
}

.partner-container  {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .partners {
        width: 50%;
        height: auto;
    }

    .campost {
        height: auto;
        width: 25%;
    }
}