.map-container {
    padding: var(--page-padding);
    background-color: var(--map-color);
    text-align: center;
}

.map {
    height: 30rem;
    margin: 2rem auto 0;
}

.map-heading {
    text-align: left;
    color: var(--white-color);
    font-weight: var(--heading-weight) !important;
}

@media screen and (max-width: 1280px) {
    .map-heading {
        font-size: 3.5rem !important;
    }

    .map-container {
        padding: 5%;
    }
}

@media screen and (max-width: 900px) {
    .map-heading {
        font-size: 3rem !important;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .map {
        width: 80% !important;
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    .map-heading {
        font-size: 2.5rem !important;
    }
}

@media screen and (max-width: 300px) {
    .map-heading {
        font-size: 1.8rem !important;
    }
}